.title,
.introduction{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
    background-color: blueviolet;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 232, 245);
    height: 100%;
}

.title{
    
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.introduction p{
    margin: 20px;
}

.ingredients li{
     margin: 10px;
}

.description{


}

.linkHub{
    display: flex;
    flex-direction: row;
    align-items: center;
}